.appbar {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2px;
  padding-left: 20px;
  background: linear-gradient(
    #3168d5 1px,
    #4891e5 2px 3px,
    #245dda 5px,
    #235bd6,
    #2d69e9 27px
  );
  box-shadow: inset -1px 0 0 0 #0b3051, inset 0px -2px 2px rgba(0,0,0,0.4);
}

.openedApp {
  all: unset;
  height: 23px;
  width: 140px;
  position: relative;
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 0 8px;
  color: white;
  font-size: 11px;
  border-radius: 4px;
  overflow: hidden;
}

.focused {
  background: #164aaf;
  border-top: 1px solid #123d94;
  border-left: 1px solid #082970;
  border-right: 1px solid #123d94;
  border-bottom: 1px solid #123d94;
  box-shadow:
    inset 1px 1px 2px rgba(0,0,0,0.3)
}

.unfocused {
  background: #397ff4;
  border-top: 1px solid #3172da;
  border-left: 1px solid #3172da;
  border-right: 1px solid #2653b8;
  border-bottom: 1px solid #2653b8;
  box-shadow:
    inset 1px 1px 1px rgba(255,255,255,0.35)
}

.openedApp img {
  width: 16px;
  height: 16px;
}

.focused:hover {
  background: #326ee9
}

.focused:active {
  background: #1150b8
}

.unfocused:hover {
  background: #57a2ff
}

.unfocused:active {
  background: #164aaf;
  box-shadow:
    inset 1px 1px 2px rgba(0,0,0,0.3)
}
