* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: Tahoma, Verdana, sans-serif;
  margin: 0;
  min-height: 100vh;
  background-image: url('./assets/bliss-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

img {
  -webkit-user-drag: none;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}


