html, body {
  height: 100%;
}

body {
  font-family: Tahoma, Verdana, sans-serif;
  margin: 0;
  min-height: 100vh;
  background-image: url('./assets/bliss-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

img {
  -webkit-user-drag: none;
}

.taskbar {
  display: flex;
  flex-direction: row;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30px;
}

.taskbar,
.taskbar * {
  user-select: none;
  -webkit-user-select: none;
}

.startbutton {
  all:unset;
  cursor: pointer;
  position: relative;
  color: #fff;
  width: 80px;
  margin-right: -10px;
  display: flex;
  align-items: center;
  gap: 3px;
  padding-left: 12px;
  padding-right: 5px;
  background:
    radial-gradient(ellipse at 8% 8%, rgba(255,255,255,0.3), transparent 30%),
    radial-gradient(circle at 0% 100%, rgba(0,0,0,0.35), transparent 40%),
    linear-gradient(to right, rgba(255,255,255,0.28), transparent 12%),
    radial-gradient(circle at 100% 50%, rgba(0,0,0,0.40), transparent 30%),
    linear-gradient(
      #347733 1px,
      #80b880 2px 3px,
      #46aa46 5px,
      #48ad48 20px
    );
  box-shadow:
    inset 1px 0 1px #177144,
    2px 0 0 #2e78e5,
    inset 0px -2px 2px rgba(0,0,0,0.4);
  border-top-right-radius: 10px 30px;
  border-bottom-right-radius: 10px 30px;
  font-family: "Franklin Gothic Medium", "Franklin Gothic", Arial, sans-serif ;
  font-style:italic;
  font-weight:300;
  font-size: 20px;
  color: #f2f2f2;
  text-shadow:
    0 1px 5px rgba(0, 0, 0, 0.60),
    0 -1px 0 rgba(255, 255, 255, 0.18),
    1px 0 5px rgba(0, 0, 0, 0.60);
}

.startbutton:hover {
  background:
    radial-gradient(ellipse at 8% 8%, rgba(255,255,255,0.4), transparent 30%),
    radial-gradient(circle at 0% 100%, rgba(0,0,0,0.25), transparent 40%),
    linear-gradient(to right, rgba(255,255,255,0.38), transparent 12%),
    radial-gradient(circle at 100% 50%, rgba(0,0,0,0.30), transparent 30%),
    linear-gradient(
      #41963f 1px,
      #8cd18c 2px 3px,
      #4fc14f 5px,
      #4ebb4e 20px
    );
  box-shadow:
    inset 1px 0 1px #177144,
    2px 0 0 #2e78e5,
    inset 0px -2px 2px rgba(0,0,0,0.3);
}

.startbutton:active {
  background:
    radial-gradient(circle at 0% 100%, rgba(0,0,0,0.35), transparent 40%),
    linear-gradient(to right, rgba(255,255,255,0.28), transparent 12%),
    radial-gradient(circle at 100% 50%, rgba(0,0,0,0.40), transparent 20%),
    linear-gradient(
      #0b270b 0px,
      #296c29 1px,
      #1b8f1b 5px,
      #228c22 20px
    );
  box-shadow:
    inset 1px 0 1px #177144,
    2px 0 0 #2e78e5,
    inset 0px -2px 2px rgba(0,0,0,0.4);
}

.startbutton img {
  filter: drop-shadow(1px 1px 0 rgba(0,0,0,0.3))
}

.appbar {
  flex-grow: 1;
  background: linear-gradient(
    #3168d5 1px,
    #4891e5 2px 3px,
    #245dda 5px,
    #235bd6,
    #2d69e9 27px
  );
  box-shadow: inset -1px 0 0 0 #0b3051, inset 0px -2px 2px rgba(0,0,0,0.4);
  border-top-left-radius: -10px -30px;
  border-bottom-left-radius: -10px -30px;

}

.systemtray {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
  gap: 3px;
  background: linear-gradient(
    #095bc9 1px,
    #19b7f3 3px,
    #1195eb 5px
  );
  box-shadow:
    inset 2px 0 0 0 #0ab1f5, inset 0px -2px 2px rgba(0,0,0,0.4);
}

.tray_icon {
  width: 16px;
  height: 16px;
  object-fit: contain;
  display: block;
  transform: translateY(1px);
  filter: drop-shadow(1px 1px 0 rgba(0,0,0,0.3));
}
