.window {
    position: absolute;
    overflow: visible;
}

.windowInner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
    box-shadow: inset 0 0 0 1px #6ea0ff
}

.window.focused .windowInner {
    border: 2px solid #2b5fd9;
}

.window.unfocused .windowInner {
    border: 2px solid #688de0;
}

.titleBar {
    display: flex;
    align-items: center;
    padding: 4px 4px 2px;
}

.window.focused .titleBar {
    background:
        radial-gradient(circle at 0% 0%, rgb(3, 57, 184), transparent 10%),
        linear-gradient(
        #3168d5 1px,
        #4891e5 2px 3px,
        #245dda 5px,
        #235bd6,
        #2d69e9 27px
        );
    box-shadow: inset -1px 0 0 0 #0b3051, inset 0px -2px 2px rgba(0,0,0,0.4);
}

.window.unfocused .titleBar {
    background:
        radial-gradient(circle at 0% 0%, rgb(116, 125, 212), transparent 10%),
        linear-gradient(
        #9bb5e9 1px,
        #91b3ea 2px 3px,
        #7996de 5px,
        #7a96e0,
        #7ea0e4 27px
        );
    box-shadow: inset -1px 0 0 0 #688de0, inset 0px -2px 10px rgba(0,0,0,0.2);
}

.titleBar img {
    width: 24px;
    height: 24px;
}

.titleBar span {
    color: white;
    font-size: 13px;
    font-weight: bold;
    line-height: 1;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.7);
    user-select: none;
    padding-left: 4px;
}

.titleControls {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 2px;
}

.titleButton {
    all:unset;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.window.unfocused .titleButton img {
    filter: saturate(0.55) brightness(1.18) contrast(0.88);
}

.titleButton:hover img {
    filter:brightness(1.08)
}

.window.unfocused .titleButton:hover img {
    filter: saturate(0.6) brightness(1.08) contrast(0.9);
}

.titleButton:active img {
    filter: brightness(0.85);
}

.window.unfocused .titleButton:active img {
    filter: saturate(0.55) brightness(0.85) contrast(0.9);
}

.windowBody {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
}

.window.focused .windowBody {
    border: 1px solid #0144d0;
}

.window.unfocused .windowBody {
    border: 1px solid #758cdc;
}

.menuBar {
    background-color: #f0eee0;
    border-bottom: 1px solid #d8d2bd;
    display: flex;
    flex-direction: row;
    gap: 0;
}

.menuBar button {
    appearance: none;
    border: none;
    background: none;
    padding: 4px 8px 4px 8px;
    font-size: 11px;
}

.menuBar button:hover {
    background: #316ac5;
    color: white;
}
.menuBar img {
    margin-left: auto;
    padding: 2px 9px 2px 9px;
    height: 24px;
    background-color: #ffffff;
    box-shadow: inset 1px 0 0 rgb(216, 210, 189);
}

.toolBar {
    background-color: #f0eee0;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #d8d2bd;
    display: flex;
    align-items: center;
    padding-left: 4px;
    padding-top: 4px;
    padding-bottom: 2px;
}

.toolBar span {
    font-size: 11px;
    transform: translateY(-1px)
}

.toolBar img {
    filter: drop-shadow(1px 1px 0 rgba(0,0,0,0.3))
}

.arrow {
    position: relative;
    top: 2px;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 4px solid black;
}

.arrowDivider {
    width: 1px;
    height: 24px;
    padding: 0;
    background-color: transparent;
    position: relative;
}

.toolBar button {
    appearance: none;
    border: 1px solid transparent;
    background: none;
    display: flex;
    align-items: center;
    gap: 5px;
    padding-top: 4px;
    padding-bottom: 2px;
}

.toolBar button:hover {
    border: 1px solid #d8d2bd;
    border-radius: 4px;
    box-shadow: inset 0 -1px 1px 0 #d8d2bd;
}

.toolBar button:hover img {
    filter: brightness(0.94) drop-shadow(1px 1px 0 rgba(0,0,0,0.3));
}

.toolBar button:hover .arrowDivider {
    background-color: #d8d2bd;
}

.toolBar button:active {
    background: #e5e4de;
    border: 1px solid #9d9d92;
}

.toolBar img {
    height: 24px;
}

.group {
    display: flex;
    align-items: center;
}

.groupDivider {
    height: 70%;
    width: 1px;
    height: 24px;
    background-color: #cac6af;
}

.addressBar {
    background-color: #f0eee0;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #d8d2bd;
    display: flex;
    align-items: center;
    padding-right: 24px;
    padding-left: 4px;
    font-size: 12px;
    gap: 2px;
}

.pathField {
    display: flex;
    flex: 1;
    align-items: center;
    background: #ffffff;
    gap: 5px;
    border: 1px solid #7f9db9;
    padding: 2px;
}

.pathField img {
    width: 16px;
}

.goArea {
    display: flex;
    align-items: center;
}

.goArea img {
    width: 20px;
}

.contentArea {
    display: flex;
    flex: 1;
}

.sideBar {
    width: 205px;
    flex-shrink: 0;
    background: linear-gradient(to bottom, #7ba1e7 , #6375d6) ;
    display: flex;
    flex-direction: column;
    padding: 10px 8px 8px;
    gap: 10px;
}

.panel {
    display: flex;
    flex-direction: column;
}

.panelHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #215dc6;
    background: linear-gradient(to right,#ffffff, #c6d3f7);
    padding: 2px 6px 2px 16px;
    font-size: 12px;
    font-weight: 600;
    line-height: 1;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.panelBody {
    background: #d6dff7;
    padding: 8px 18px 12px;
    font-size: 11px;
    border: 1px solid white;
    border-top: none;
}

.panelBody img {
    height: 18px;
    width: 18px;
    flex-shrink: 0;
    filter: drop-shadow(1px 1px 0 rgba(0,0,0,0.3))
}

.panelItem {
    appearance: none;
    border: none;
    background: none;
    padding: 1px 0;
    margin: 0;
    width: 100%;
    text-align: left;
    color: #215dc6;
    font: inherit;
    cursor: pointer;

    display: flex;
    align-items: center;
    gap: 6px;
}

.panelItem:hover {
    text-decoration: underline;
}

.panelItem + .panelItem {
    margin-top: 4px;
}

.panelItem span {
    line-height: 1.15;
}

.panelToggle {
    appearance: none;
    border: 1px solid #9aa9cf;
    background: linear-gradient(to bottom, #ffffff, #e7ecfb);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0 1px 0 #ffffff;
    cursor: pointer;
}

.panelToggleArrow {
    width: 0;
    height: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-bottom: 4px solid #3f67b8;
}

.mainPane {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, 210px);
    gap: 12px 0px;
    padding: 5px 0 0 5px;
    background-color: #ffffff;
    align-content: start;
}

.driveButton {
    all: unset;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: default;
}

.mainPane span {
    line-height: 1.15;
    font-size: 12px;
}

.iconImage {
    position: relative;
}
.iconImage img {
    display: block;
    height: 48px;
    width: 48px;
}

.iconImageSelected::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(49, 106, 197, 0.50);

    -webkit-mask-image: var(--icon-url);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    -webkit-mask-position: center;

    mask-image: var(--icon-url);
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
}

.driveLabelSelected {
    background-color: #316ac5;
    color: white;
}
