.window {
    position: absolute;
    width: 40vw;
    height: 50vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow:hidden;
    border: 2px solid #2b5fd9;
    box-shadow: inset 0 0 0 1px #6ea0ff;
}

.titleBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 3px;
    padding-top: 6px;
    background: linear-gradient(
        #3168d5 1px,
        #4891e5 2px 3px,
        #245dda 5px,
        #235bd6,
        #2d69e9 27px
    );
    box-shadow: inset -1px 0 0 0 #0b3051, inset 0px -2px 2px rgba(0,0,0,0.4);
}

.titleBar img {
    width: 20px;
    height: 20px;
}

.titleBar span {
    color: white;
    font-size: 11px;
    text-align: center;
    line-height: 1.;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.7);
    user-select: none;
    padding-left: 3px;
}

.windowBody {
    border: 1px solid #0144d0;
    display: flex;
    height: 100%;
    flex-direction: column;
}

.menuBar {
    background-color: #f0eee0;
    border-bottom: 1px solid #d8d2bd;
}

.toolBar {
    background-color: #f0eee0;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #d8d2bd;
}

.addressBar {
    background-color: #f0eee0;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #d8d2bd;
}

.contentArea {
    display: flex;
    height: 100%;
}

.sideBar {
    width: 35%;
    background-color: #7ba1e7;
}

.mainPane {
    width: 65%;
    background-color: #ffffff;
}
