.window {
    position: absolute;
    overflow: visible;
}

.windowInner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
}

.window.focused .windowInner {
    border: 2px solid #2b5fd9;
}

.window.unfocused .windowInner {
    border: 2px solid #688de0;
}

.window.maximized .windowInner {
    border: none;
    border-radius: 0px;
}

.windowBody {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
}

.window.focused .windowBody {
    border: 1px solid #0144d0;
}

.window.unfocused .windowBody {
    border: 1px solid #758cdc;
}

.contentArea {
    display: flex;
    flex: 1;
}
