.titleBar {
    display: flex;
    align-items: center;
    padding: 4px 4px 2px;
}

.titleBar.focused  {
    background:
        radial-gradient(circle at 0% 0%, rgb(3, 57, 184), transparent 10%),
        linear-gradient(
        #3168d5 1px,
        #4891e5 2px 3px,
        #245dda 5px,
        #235bd6,
        #2d69e9 27px
        );
    box-shadow: inset -1px 0 0 0 #0b3051, inset 0px -2px 2px rgba(0,0,0,0.4);
}

.titleBar.unfocused  {
    background:
        radial-gradient(circle at 0% 0%, rgb(116, 125, 212), transparent 10%),
        linear-gradient(
        #9bb5e9 1px,
        #91b3ea 2px 3px,
        #7996de 5px,
        #7a96e0,
        #7ea0e4 27px
        );
    box-shadow: inset -1px 0 0 0 #688de0, inset 0px -2px 10px rgba(0,0,0,0.2);
}

.titleBar img {
    width: 24px;
    height: 24px;
}

.titleBar span {
    color: white;
    font-size: 13px;
    font-weight: bold;
    line-height: 1;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.7);
    user-select: none;
    padding-left: 4px;
}

.titleControls {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 2px;
}

.titleButton {
    all:unset;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.titleBar.unfocused .titleButton img {
    filter: saturate(0.55) brightness(1.18) contrast(0.88);
}

.titleButton:hover img {
    filter:brightness(1.08);
}

.titleBar.unfocused .titleButton:hover img {
    filter: saturate(0.6) brightness(1.08) contrast(0.9);
}

.titleButton:active img {
    filter: brightness(0.85);
}

.titleBar.unfocused .titleButton:active img {
    filter: saturate(0.55) brightness(0.85) contrast(0.9);
}
